.main {

    display: grid;
    grid-template-columns:repeat(16,1fr);
    grid-template-rows: repeat(16,1fr);
    grid-row-gap: 3px;
    grid-column-gap: 3px;
    margin: 0px auto;
    height:97vh;
    width:50vw;
    border: 2px solid black;
    
}

/* div {
    width:40px;
    height:40px;
} */

.orange {
    background-color:orange;
}

.yellow {
    background-color:coral;
}
.brown {
    background-color:brown;
}