body {
  margin: 0px;
  font-family: "Work Sans", sans-serif;
  background-color: rgb(75, 16, 62);
  color: white;
  box-sizing: border-box;
}

div.logo {
    display: inline-block;
    background-image: url(https://www.pinclipart.com/picdir/big/162-1625837_c-c-carpentry-llc-limited-liability-company-clipart.png);
    background-size: cover;
    position: absolute;
    top:1.5vh;
    left:10vw;
    height:7vh;
    width:7vh;

}

header {
  height: 10vh;
  border-bottom: 1px solid black;
  position:relative;
}

nav {
  width: 85%;
  position: absolute;
  right: 0px;
  margin: auto auto;
  
}
ul {
  list-style-type: none;
  display: inline-block;
  position:absolute;
  right: 5vw;
}

li {
  display: inline-block;
  padding: 0.5vh 1vw;
}

a {
  text-decoration: none;

  color: white;
  font-size:3vh;
  transition:all 0.8s;
}

a:focus {
  color: white;
}

a:hover{
    font-size: 3.8vh;
}

.img {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url(https://image-cdn.hypb.st/https%3A%2F%2Fhypebeast.com%2Fimage%2F2020%2F10%2Fcasetify-iphone-12-2020-cases-collection-release-1.jpg?q=90&w=1400&cbr=1&fit=max);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  width: 100%;
  height: 80vh;
  position: relative;
}

a,h1,.sale {
    text-transform: uppercase;
}

h1{
    font-size:2rem;
    top: 10vh;
    margin-top: 0px;
    text-align: center; 
        

}

.story{
    top:17vh;
}

.sale, .story, h1 {
    position: absolute;
    left: 12vw;
  
}
.sale {
    top:41vh;
    color:rgb(221 134 134);
    max-width: 60vw;
}

.story p{
    max-width:50vw; 
    max-height: 15vh;
    overflow: hidden;
}

footer{
text-align: center;
font-size: 2.5vh;    


}