.content {
  display: flex;
  flex-direction: column;
  padding: 5px;
  border: 5px solid red;
  height: 300px;
  width: 300px;
  background-color: white;
  justify-content: space-between;
}

.box {
  background-color: aqua;
  height: 50px;
  text-align: center;
}

.second {
  align-self: center;
  height: 150px;
  width: 200px;
}
