section {
  display: flex;
  justify-content: space-between;
}

#container {
  width: 400px;
  height: 400px;
  position: relative;
  background: yellow;
}
#animate {
  width: 50px;
  height: 50px;
  position: absolute;
  background-color: red;
}

.dragme,
.dropzone {
  width: 120px;
  height: 120px;
  border: 1px solid black;
}

.dropzone {
  background-color: chartreuse;
  margin: 5px;
}

.dragme {
  background-color: hotpink;
  border-radius: 50%;
}

.draginside {
  background-color: goldenrod;
}

.dragpossible {
  opacity: 0.5;
}
